.root {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  resize: none;
  overflow: hidden;
  overflow-y: auto;

  .wrapper {
    width: 100%;

    .content_wrapper {
      padding: 3rem 0 4rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .box {
        width: 100%;
        padding: 0 15px;

        .input_field {
          display: flex;
          flex-direction: column;

          .input {
            color: #9e9e9e;
            margin: 1.5rem 0;
            width: 100%;
            display: flex;
            align-items: flex-end;

            input {
              padding: 0.6rem 0 0.4rem 0;
              border-bottom: 0.5px solid #ced4da;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            }

            div label {
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
